body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:100%;
}

a {
    text-decoration: none;
}

html {
    width:100%;
}

h1,h2,h3,h4,h5 {
    font-weight:500;

}

* {
    box-sizing: border-box;

}

button:active, button:focus {
    outline: none;
}
.container {
    max-width: 1280px;
    margin:0px auto;
}

@media (max-width: 900px) {
    .container {
        padding:0px 20px;
    }
}



.btn.primary {
    border: 2px solid #08BDBD;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 16px;
    color: #08BDBD;
    letter-spacing: 0;
    padding:10px 20px;
    background-color:transparent;
    cursor: pointer;
}

.btn.primary:hover {
    border: 2px solid #08BDBD;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    padding:10px 20px;
    background-color:#08BDBD;
}

.top {
    background-image: url(./images/Rectangle.png);
    height: auto;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    padding-bottom: 120px;
}

.top nav {
    max-width:1280px;
    margin:0px auto;
    padding-top:20px;
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}

@media (max-width: 900px) {

    .top nav {
        padding:20px 20px;
        padding-bottom:0;
    }
}

.top nav button {
    border: 2px solid #08BDBD;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 16px;
    color: #08BDBD;
    letter-spacing: 0;
    padding:10px 20px;
    background-color:transparent;
}

.top .content {
    max-width:1280px;
    margin:0px auto;
    padding-top:20px;
    display:flex;
    justify-content: space-between;
}

.top .content h2 {
    font-family: "Nunito";
    font-size: 60px;
    color: #000807;
    letter-spacing: -1.5px;
    line-height: 70px;
    margin-bottom:15px;
    font-weight:500;
}

.top .content h4 {
    font-family: "Nunito";
    font-size: 24px;
    color: #484D6D;
    letter-spacing: 0;
    margin-top:0;
    font-weight:500;

}

.top .content .left button {
    background-color:#08BDBD;
    color:#fff;
    padding:20px 40px;
}

.top .content div {
    width:40%;
}


@media (max-width: 900px) {
    .top .content {
        flex-wrap: wrap;
    }
    .top .content div {
        width:100%;
    }
    
}


.top .content .right img {
    max-width:80%;
    float:right;
}

@media (max-width: 900px) {
    .top .content {
        flex-wrap: wrap;
    }
    .top .content div {
        width:100%;
    }

    .top .content .right img {
        max-width:90%;
        margin:0px auto;
        float:none;
        display: block;
        margin-top:40px;
    }
}

.top .logos {
    margin-top:90px
}

.top .logos .allLogos {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top .logos h3 {
    font-family: "Nunito";
    font-size: 18px;
    color: #484D6D;
    letter-spacing: 0;
    text-align: center;
    margin-bottom:50px;
}

.top .logos .allLogos img{
    margin-right:50px;
    margin-left:50px;
    margin-bottom:30px;
}

.middle {
    width:100%;
}

.middle .story {
    justify-content: space-between;
    display: flex;
}

.middle .story > div {
    width:45%;
}

@media only screen and (max-width: 600px) {
    .middle .story{
        flex-wrap: wrap;
    }
    .middle .story > div {
        width:100%;
    }

    .logos .allLogos img {
        flex-wrap: nowrap;
        margin-right:10px !important;
        margin-left:10px !important;
    }
    .middle {
        overflow: hidden;
    }

    .middle .story.one .right img {
        margin-left:70px;
    }

    .middle .story.two .left img {
        margin-left:-70px;
    }
}


.middle .story {
    display: flex;
    margin-bottom:60px;
}

.middle .story img {
    max-width: 100%;
}


.middle .story h3 {
    font-family: "Nunito";
    font-size: 36px;
    color: #000807;
    letter-spacing: -0.5px;
    line-height: 46px;
    margin:0;
    padding:0;
    margin-top:10px;
}

.middle .story.one .right img{
    margin-top:-100px;
}

@media only screen and (max-width: 600px) {
    .middle .story.one img{
        margin-top:30px;
        margin-right:-40px;
    }
}

.middle .story.one .left img, .middle .story.two .right img {
    margin-top:60px;
}

.middle .story.three {
    max-width:900px;
    margin:0px auto;
}

.footer {
    background-image:url('./images/footer.png');
    background-size:cover;
    width:100%;
    padding-top:100px;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom:70px;
    margin-top:80px;
}


.footer .content .left h3 {
    font-family: "Nunito";
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    line-height: 46px;
}

.footer .content .left {
    width:45%;
}

.footer .content .left button {
    background: #08BDBD;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}

@media only screen and (max-width: 600px) {
    .middle .story.one, .middle .story.three {
        flex-direction: column-reverse;
    }

    .footer .content .left {
        width:100%;
    }
}